# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive vars
*.tfvars
*.tfvars.json
*.pem

# Python / Ansible
__pycache__/
*.pyc
*.pyo
*.pyd
*.retry
*.log

# OS files
.DS_Store
Thumbs.db
